##----------------------------------------------------------------------------
##  Copyright 2024, Emanuele Zarfati
##
##  Licensed under the Apache License, Version 2.0 (the "License");
##  you may not use this file except in compliance with the License.
##  You may obtain a copy of the License at
##
##      http://www.apache.org/licenses/LICENSE-2.0
##
##  Unless required by applicable law or agreed to in writing, software
##  distributed under the License is distributed on an "AS IS" BASIS,
##  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
##  See the License for the specific language governing permissions and
##  limitations under the License.
##
##----------------------------------------------------------------------------
##
##  Revision History:
##    2024.01 E. Zarfati
##       - First version
##
##----------------------------------------------------------------------------

# Load the configuration for an STM32L0 device connected through an ST-Link
# debugger via SWD
source [find interface/stlink.cfg]
transport select hla_swd
source [find target/stm32l0.cfg]

# The ST-Link configuration does not toggle the RST line causing connection
# failure. Configure the line toggle on connect manually
reset_config srst_only srst_open_drain connect_assert_srst

# Initialise OpenOCD
init

# Reset immediately the target MPU
reset halt
wait_halt
